name: development-test

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: app
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - '5432:5432'
    networks:
      - app-network
    volumes:
      - postgres_volume_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - '8080:8080'
    networks:
      - app-network
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: app
    networks:
      - app-network
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - adminer
    command: [sh, -c, 'npm run start:dev']
    volumes:
      - .:/app:delegate
      - /app/node_modules

networks:
  app-network:
    driver: bridge

volumes:
  postgres_volume_data: {}
